body{
    text-align: center;
    background-color:#FCA6C9;
    margin: 0 auto;
}

h1 {
    color: white;
    font-size: 50px;
}

#education {
    color: white;
}

#name {
    color:white;
}

#list {
    color: black;
    display: inline-block; text-align: left;
}

img
{
    width: 15%;
    height: 15%;
}

#atonement
{
    font-size: 40px;
}
